@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #72a8b1;
}
.location {
  color: rgb(170, 170, 170);
  text-shadow: 0.1em 0.1em 0 hsl(200 50% 30%);
}
.weather-icon img {
  width: 200px;
  height: 200px;
}

.other-details div {
  margin: 5px;
}

input:focus{
    outline: none;
}
input{
    margin: 1rem;
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.177);
    border: none;
    padding: 8px 20px;
    border-radius: 10px;
}

/* CSS */
.button-47 {
  align-items: center;
  background: #FFFFFF;
  border: 0 solid #E2E8F0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  color: #1A202C;
  display: inline-flex;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  /* height: 56px; */
  justify-content: center;
  line-height: 24px;
  overflow-wrap: break-word;
  padding: 3px 20px;
  text-decoration: none;
  width: auto;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

h3 span {
  font-family: "Paytone One";
  color: #202020;
  text-transform: uppercase;
  letter-spacing: -2px;
  display: block;
  margin: 11px 0 17px 0;
  font-size: 80px;
  line-height: 80px;
  color: #d4e4e3;
  text-shadow: 0 13.36px 8.896px #95a7ad, 0 -2px 1px #dbdee7;
  letter-spacing: -4px;
}
